<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/index">
        <img src="/assets/images/signature_en.png" width="auto" height="60px" class="d-inline-block align-top"
            alt="brand_logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/pages/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/tech/">Tech</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/life/">Life</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/reading/">Reading</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/music/">Music</a>
            </li>
        </ul>
    </div>
</nav>