.post-page {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 2rem;
    height: 92vh;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
}

.post-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2rem;
    /* box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3); */
    z-index: -1;
}

.post-content,
.post-toc {
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    bottom: 0;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #d3d3d3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
    overflow-y: scroll;
}

/* Chrome, Edge, and Safari */
.post-content::-webkit-scrollbar {
    width: 16px;
}

.post-content::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 6px;
}

.post-content::-webkit-scrollbar-thumb {
    background-color: #c89efc;
    border-radius: 6px;
    border: 3px solid #f0f0f0;
}

/* Firefox */
.post-content {
    scrollbar-color: #c89efc #f0f0f0;
    scrollbar-width: thin;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.title h1 {
    font-size: 36px;
    font-weight: bold;
}

.content {
    font-size: 16px;
    line-height: 1.6;
}

.content img {
    width: 60%;
    max-width: 100%;
    height: auto;
    display: block; /* 为了消除可能的默认边距 */
    margin: 0 auto; /* 如果你希望图片在其容器中居中 */
    cursor: pointer;
}

/* 遮罩样式 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* 放大图片的样式 */
.overlay img {
    width: 80%;
    height: 80%;
    margin: auto;
    cursor: pointer;
}

/* TOC 样式 */
.post-toc {
    background-color: #c0c5ce;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: auto;
    min-width: 100px;
    max-width: 400px;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
    /* white-space: nowrap; */
}

.toc-outline {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.toc-h1 {
    font-size: 16px;
    font-weight: bold;
}

.toc-h2 {
    margin-left: 10px;
    font-size: 16px;
}

.toc-h3 {
    margin-left: 20px;
    font-size: 15px;
}

.toc-h4 {
    margin-left: 30px;
    font-size: 14px;
}

.toc-h5 {
    margin-left: 40px;
    font-size: 13px;
}

.toc-h6 {
    margin-left: 50px;
    font-size: 12px;
}

.toc-link-wrapper {
    display: flex;
    align-items: center;
    line-height: 1.2;
    border-left: 5px solid transparent;
    transition: background-color 0.3s;
    margin-top: 0.3rem;
    padding: 0.6rem 0;
}

.toc-link-wrapper:hover {
    background-color: #86dcaa;
}

.toc-link-wrapper a {
    text-decoration: none !important;
    color: inherit;
    flex-grow: 1;
}

.toc-link-wrapper.active {
    border-left: 5px solid #3498db;
}

.toc-link-wrapper a:hover {
    color: inherit;
}

div[class*="highlighter-rouge"] {
    margin-top: 1rem;
}
