---
layout: default
---
<div class="post">
    <div class="title">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="content-area">
        <div id="toc">
            <div
                style="color:darkgoldenrod; font-weight:bolder; font-size:1.5rem; text-decoration: underline; margin-bottom: 1.2rem;">
                OUTLINE</div>
            <!-- Table of contents will be generated here -->
        </div>
        <div class="blog-content">
            {{ content }}
        </div>
    </div>
</div>